<?xml version="1.0"?>

<model>
  <name>Gancho Eletroquad</name>
  <version>1.0</version>
  <sdf version="1.6">gancho.sdf</sdf>

  <author>
    <name>Lucca Gandra</name>
    <email>luccagandra@poli.ufrj.br</email>
  </author>

  <description>
    Gancho desenvolvido pela equipe Ghost Drones, para a competição Eletroquad 2025.
  </description>
</model>
